.HOME_WRAPPER {
  background-image: url("../logo-designer-holding-smartphone-with-cool-logo-it.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
